{% extends 'layout.html' %}
{% block content %}

    <div>
        {% if current_user.is_authenticated %}
        <h2>There are currently {{ count }} users in line waiting for support.</h2>
        <br>
        <a class = "btn btn-secondary btn-lg mt-1 mb-1" href = "{{ url_for('create_post')}}">Get in Line</a>
        {% else %}
        <h2>There are currently {{ count }} users in line waiting for support.</h2>
        <br>
        <h2>Please login to get in line</h2>
        <a class = "btn btn-secondary btn-lg mt-1 mb-1" href = "{{ url_for('login')}}">Login</a>
        <a class = "btn btn-secondary btn-lg mt-1 mb-1" href = "{{ url_for('register')}}">Register</a>
        {% endif %}
    </div>
    
{% endblock content %}

{% block user_count_assist %}{{ posts_assisting.total }}{% endblock user_count_assist %}
{% block user_count_open %}{{ posts_open.total }}{% endblock user_count_open %} 