{% extends 'layout.html' %}
{% block content %}
            <h1>Welcome!</h1>
            <h2>Please select below</h2>
            <p>If you need to open a ticket click on Get in line</p>
            <a class="btn btn-secondary btn-lg mt-1 mb-1" href="{{ url_for('create_post')}}">Get in line</a>
            <p>Click below to view your history</p>
            <a class="btn btn-secondary btn-lg mt-1 mb-1"
                href="{{ url_for('user_posts', username = current_user.username)}}">Your History</a>
{% endblock content %}